body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  color: #22343d;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
img {
  vertical-align: middle;
  display: block;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
button {
  cursor: pointer;
  font-family: inherit;
}
.container {
  max-width: 1140px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
/* #region header */

.header {
}
.header-container {
  display: flex;
  justify-content: space-between;
}
.nav-header {
  display: flex;
}
.logo {
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93;
  color: #173a56;
  display: flex;
  align-items: center;
  padding-bottom: 22px;
  padding-top: 22px;
  margin-right: 237px;
}
.logo-image {
  margin-right: 16px;
}
.nav-header-list {
  display: flex;
  gap: 30px;
}
.nav-header-item {
}
.nav-header-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  padding-top: 26px;
  padding-bottom: 26px;
  display: block;
}
.nav-header-link:hover,
.nav-header-link:focus {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.75;
}
.nav-btn-list {
  display: flex;
  gap: 21px;
}
.nav-btn-item {
  padding-top: 19px;
  padding-bottom: 19px;
}
.btn-sign-in {
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #173a56;
  background-color: transparent;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  width: 105px;
  height: 42px;
}
.btn-sign-up {
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  border-radius: 4px;
  background: #02897a;
  width: 113px;
  height: 42px;
  border: none;
}

/* #endregion header */

/* #region hero */
.hero-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero {
  padding: 25px 0 50px;
}
.hero .hero-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  margin-bottom: 18px;
  width: 452px;
}
.hero-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55556;
  margin-bottom: 45px;
}
.hero-btn {
  border: none;
  padding: 14px 42px;
  border-radius: 4px;
  background-color: #02897a;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  margin-right: 30px;
}
.hero-link {
  border: none;
  background: transparent;
  font-weight: 600;
  font-size: 16px;
  text-decoration: underline;
  color: #02897a;
}
.hero-image {
}

/* #endregion hero */

/* #region feature */
.feature {
  padding: 50px 0;
}
.feature-title {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  width: 520px;
  margin: 0 auto 50px auto;
}
.feature-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-bottom: 50px;
}
.feature-item {
  width: calc((100%-90px) / 4);
}
.feature-item-title {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 12px;
}
.feature-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  margin-bottom: 26px;
}
.feature-btn {
  border: none;
  padding: 14px 42px;
  border-radius: 4px;
  background-color: #02897a;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  margin: 0 auto;
  display: block;
}
/* #endregion feature */
/* #region management */
.management {
  padding-top: 50px;
  padding-bottom: 50px;
}
.managment-flex {
  display: flex;
  gap: 84px;
  align-items: center;
}
.management-title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 25px;
}
.title-style {
  font-size: 16px;
  font-weight: 600;
  display: block;
  margin-bottom: 8px;
}
.management-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  max-width: 486px;
  margin-bottom: 30px;
}
.management-list {
  max-width: 468px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.management-item {
}
.management-item-title {
  font-size: 16px;
  font-weight: 600;
  line-height: 26px; /* 162.5% */
}
.management-item-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.management-image {
}
/* #endregion management */
/* #region support */
.support {
  padding: 50px 0;
}
.support-image {
}
.support-title {
}
.support-text {
}
.support-list {
}
.support-item {
}
/* #endregion support */
/* #region optimisation */
.optimisation {
  padding: 50px 0;
}
.optimisation-flex {
  display: flex;
  gap: 84px;
  justify-content: center;
  align-items: center;
}
.optimisation-content {
  max-width: 468px;
}
.optimisation-title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 25px;
}
.optimisation-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  margin-bottom: 30px;
}
.optimisation-list {
}
.optimisation-item:not(:last-child) {
  margin-bottom: 25px;
}
.optimisation-item-title {
  font-size: 16px;
  font-weight: 600;
  line-height: 26px; /* 162.5% */
  margin-bottom: 12px;
}
.optimisation-item-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.optimisation-image {
}
/* #endregion optimisation */
/* #region staff */
.staff {
  padding: 50px 0;
}
.staff-title {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 25px;
}
.staff-text {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
  width: 542px;
  margin: 0 auto 40px;
}
.staff-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 25px;
  column-gap: 100px;
}
.staff-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  /* width: calc(100% - 100px) / 2; */
  width: 408px;
}
.staff-item-image {
}
.staff-item-text {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  padding: 14px 20px;
  border-radius: 25px;
  box-shadow: 2px 2px 10px rgba(23, 58, 86, 0.15);
}
/* #endregion staff */

/* #region strategies */
.strategies {
  padding: 50px 0;
}
.strategies-title {
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 10px;
}
.strategies-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
  width: 465px;
  margin-bottom: 40px;
}
.strategies-list {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.strategies-item {
  width: calc(100% - 60px) / 3;
  border-radius: 8px;
  border: 1px solid #dedede;
}
.review-text {
  padding: 24px 24px 40px;
}
.strategies-item-image {
}
.strategies-item-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px; /* 175% */
  margin-bottom: 12px;
}
.review-name {
  font-weight: 700;
}
.strategies-item-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 40px; /* 166.667% */
  width: 100%;
}
.strategies-style {
  color: #02897a;
}
/* #endregion strategies */

/* #region price */
.price {
  padding-bottom: 50px;
  padding-top: 85px;
}
.container {
}
.price-title {
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 10px;
  text-align: center;
}
.price-text {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  margin-bottom: 40px;
}
.price-list {
  display: flex;
  gap: 72px;
}
.price-item {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  padding: 32px 0;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  width: calc((100% - 144px) / 3);
}
.price-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.67;
  margin-bottom: 8px;
  font-family: "Poppins", sans-serif;
}
.price-item-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 2.5;
}
.price-item-number {
}
.price-item-currency {
}
.price-item-term {
}
.price-inner {
}
.inner--item {
}
.inner--item_item {
}
.price-btn {
}
/* #endregion price */

/* #region reviews */
.reviews {
  padding: 50px 0;
}
.reviews-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 57px; /* 178.125% */
  letter-spacing: 0.2px;
  text-align: center;
}
.reviews-text {
  font-size: 16px;
  text-align: center;
  font-weight: 500;
  line-height: 28px; /* 175% */
  letter-spacing: 0.2px;
  width: 537px;
  margin: 0 auto 40px;
}
.reviews-list {
  display: flex;
  gap: 64px;
}
.reviews-item {
  width: calc(100% - 128px) / 3;
  padding: 28px;
  border-radius: 5px;
  border: 1px solid #dedede;
}
.reviewer {
  display: flex;
  gap: 14px;
  align-items: center;
}
.reviews-item-image {
  margin-bottom: 16px;
}
.reviewer-details {
}
.reviews-item-text {
  color: #737373;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px; /* 175% */
  letter-spacing: 0.2px;
  margin-bottom: 16px;
}
.reviews-item-avatar {
}
.reviews-item-name {
  color: #02897a;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px; /* 150% */
  letter-spacing: 0.2px;
}
.reviews-item-position {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.2px;
}
/* #endregion reviews */
/* #region promo */
.promo-card {
  border-radius: 32px;
  background: #02897a;
  display: flex;
  align-items: center;
  padding: 4px 46px 10px 50px;
  width: 968px;
  height: 345px;
  margin: 0 auto;
}
.promo-text-btn {
}
.promo {
  padding: 50px 0;
}

.promo-title {
  color: #fff;
  font-size: 32px;
  font-weight: 600;
  line-height: 151.4%; /* 48.448px */
  margin-bottom: 46px;
}
.promo-btn {
  border-radius: 8px;
  border: transparent;
  background: #fff;
  padding: 10px 34px;
}
.promo-image {
}
/* #endregion promo */

/* #region footer */
.footer {
}
.nav-footer {
}
.nav-footer-list {
}
.nav-footer-item {
}
.nav-footer-link {
}
/* #endregion footer */
